h1 {
  text-align: center;
  color:#FFFFFF; 
  text-shadow: 2px 2px #0F3C64
}

h2 {
  text-align: center;
  color:#FFFFFF; 
  text-shadow: 2px 2px #0F3C64

}

body {
  text-align: center;
  background-color:#ADCADC;
  color:#336591;
}
p {
  font-size: 150%;
  font: italic bold 20px/30px Georgia, serif;
  text-indent: 50px;
}
a:visited {
  color: #0F3C64;

}

a:active {
  background-color: yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  
}

li {
  float: left;
}


li a {
  display: block;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: lightyellow;
}
